swagger: "2.0"
info:
  description: "DataHub SciRoc Competition Interface"
  version: "1.0.0"
  title: "DataHub SciRoc Competition Interface"
  termsOfService: "http://datahub.mksmart.org"
  contact:
    email: "datahub-support@mksmart.org"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.mksmart.org"
basePath: "/basil/sciroc-monitor/"
tags:
- name: "SciRoc"
  description: "Everything about the SciRoc competition"
  externalDocs:
    description: "Find out more"
    url: "http://datahub.mksmart.org"
schemes:
- "https"
- "http"
paths:
  /sciroc-episode/list:
    get:
      tags:
      - "SciRoc"
      summary: "Gets the list of episodes"
      produces:
        - "application/xml"
        - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Episode"
        500:
          description: "Internal error"
  /sciroc-episode:
    post:
      tags:
      - "SciRoc"
      summary: "Creates or updates an episode"
      operationId: "createUpdateEpisode"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
        - "application/xml"
        - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Episode object that needs to be added/updated to the store"
        required: true
        schema:
          $ref: "#/definitions/Episode"
      responses:
        405:
          description: "Invalid input"
        201:
          description: "Episode created"
        200:
          description: "Episode updated"          
        500:
          description: "Internal error"
    delete:
      tags:
      - "SciRoc"
      summary: "Delete an episode"
      operationId: "deleteEpisode"
      parameters:
      - name: "id"
        in: "query"
        description: "Episode ID to be deleted"
        required: true
        type: "string"
      responses:
        405:
          description: "Invalid input: episode does not exists"
        204:
          description: "Episode deleted"          
        500:
          description: "Internal error"
  /sciroc-teams:
    get:
      tags:
      - "SciRoc"
      summary: "Gets the list of teams"
      produces:
        - "application/xml"
        - "application/json"
      responses:
        500:
          description: "Internal error"
  /sciroc-schedule:
    get:
      tags:
      - "SciRoc"
      summary: "Gets the schedule"
      produces:
        - "application/xml"
        - "application/json"
      
      responses:
        500:
          description: "Internal error"
  

securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Team:
    type: "object"
    properties:
      id:
        type: "string"
      label:
        type: "string"
      description:
        type: "string"
  Episode:
    type: "object"
    properties:
      id:
        type: "string"
      label:
        type: "string"
      description:
        type: "string"
      status:
        type: "string"
        default: "inactive"
        enum:
          - "inactive"
          - "active"
  Trial:
    type: "object"
    properties:
      team:
        type: "string"
      episode:
        type: "string"
      start-time:
        type: "string"
      end-time:
        type: "string"
      score:
        type: "number"
  Judgement:
    type: "object"
    properties:
      team:
        type: "string"
      episode:
        type: "string"
      trials:
        type: "integer"
      score:
        type: "number"
  Schedule:
    type: "array"
    items:
          $ref: "#/definitions/ScheduleItem"
  ScheduleItem:
    type: "object"
    properties:
      id:
        type: "string"
      label:
        type: "string"
      description:
        type: "string"
  ApiResponse:
    type: "object"
    properties:
      code:
        type: "integer"
        format: "int32"
      type:
        type: "string"
      message:
        type: "string"
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"